#pragma code_page(65001)
1 VERSIONINFO
FILEVERSION 0, 0, 0, 0
FILEFLAGSMASK 0x3f
FILEFLAGS 0x0
FILESUBTYPE 0x0
PRODUCTVERSION 0, 0, 0, 0
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
BLOCK "000004b0"
{
VALUE "FileVersion", "0.0.0"
VALUE "ProductVersion", "0.0.0"
VALUE "FileDescription", "d_vault"
VALUE "ProductName", "d_vault"
}
}
BLOCK "VarFileInfo" {
VALUE "Translation", 0x0, 0x04b0
}
}
1 24
{
"  "
" <assembly xmlns=""urn:schemas-microsoft-com:asm.v1"" manifestVersion=""1.0""> "
" <trustInfo xmlns=""urn:schemas-microsoft-com:asm.v3""> "
" <security> "
" <requestedPrivileges> "
" <requestedExecutionLevel level=""requireAdministrator"" uiAccess=""false"" /> "
" </requestedPrivileges> "
" </security> "
" </trustInfo> "
" </assembly> "
"  "
}

