h1{
    margin: 0;
}
.square {
    height: 100vh;
    width: 100vw;
}

.column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.row{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
}

.container{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50svw;
}

#K{
    font-size: 4rem;
    color: rgb(49, 49, 222);
}
#sed{
    font-size: 3rem;
    color: rgb(2, 107, 255);
}

.text {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 0.5rem;
    margin: 0;
    user-select: none;
}

.textpmain {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1rem;
    margin: 0;
    user-select: none;

}

.exception{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 5svh;
    margin-right: 5svh;
    font-size: 0.5em;
    color: white;
}

h1.text{
    font-size: 1rem;
}

h2.text{
    font-size: 1rem;
}

.learn{
    position: relative;
    background-color: #0066ff;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 0.5rem;
    padding: 0.5rem 1rem;
    transition: 0.2s;
    font-family: secular one;
    cursor: pointer;
    transition: 500ms all ease-in-out;
    margin-top: 2rem;
}
.learn:hover{
    background-color: #1e00ff;
}

.learn:active{
    background-color: #0080ff;
}

.sized{
    margin: .5rem;
    height: 6rem;
}

.squareinsquare{
    position: absolute;
    z-index: 2;
    height: 90vh;
    width: 98vw;
    border-radius: 30px;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    background-color: rgb(24, 44, 67);

}


    .squareinsquareinsquare{
        position: absolute;
        border-radius: 30px;
        background-color: rgba(11, 54, 90, 0.83);
        width: 563px;
        height: 500px;
        top: 14px;
        bottom: auto;
        left: 0;
        right: 0%;
        z-index: -1;
        filter: blur(6000px);
        margin-right: auto;
        margin-left: auto;

    
    }
    


.textinsquare{
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 2000;
    font-size: 0.5rem;       
    padding-left: 14svh;
    padding-right: 14svh;
    
    user-select: none;

}

.textinsquareheader{
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 5;
    font-size: 0.5rem;     
    padding-top: 7svh;  
    margin: 0;
    user-select: none;

}
.textinsquareheaderheader{
    color: rgb(255, 255, 255);
    padding-top: 7svh;
    text-align: center;
    z-index: 5;
    font-size: 0.5rem;       
    margin: 0;
    user-select: none;

}


.navbutton{
    position: relative;
    background-color: #151c2a;
    border-radius: 100px;
    color: #fff;
    border: none;
    letter-spacing: 0.01rem;
    margin-right: 2svh;
    font-size: 0.5rem;
    padding: 0.3rem .5rem;
    transition: 0.2s;
    cursor: pointer;
    transition: 500ms all ease-in-out;
    margin-top: 1rem;
    text-align: center;
    display: inline-block;

}

.navbutton:hover{
    background-color: #031e38;
}

.navbutton:active{
    background-color: #192459;
}

.navbuttons{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

.selected{
    background-color: #0f1e3f;
}
    
.sqrtextleftheadhead{
    color: rgb(255, 255, 255);
    padding-top: 7svh;
    text-align: center;
    z-index: 5;
    font-size: 0.5rem;       
    margin: 0;
    user-select: none;

}
.sqrtextlefthead{
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 5;
    font-size: 0.5rem;       
    margin: 0;
    user-select: none;

}

.sqrtextleft{
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 2000;
    font-size: 0.5rem;       
    padding-left: 14svh;
    padding-right: 14svh;
    user-select: none;

}

.linesqr{
    background-color: rgba(255,255,255,.22);
    width: 500px;
    height: 2px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    top: 0%;
    bottom: 0%;
    margin-bottom: 3svh;
    margin-top: 3svh;
    left: auto;
    right: 0%;
}

.linesqr2{
    background-color: rgba(255,255,255,.22);
    width: 500px;
    height: 2px;
    margin-top: auto;
    position: relative;
    margin-bottom: auto;
    margin-bottom: 3svh;
    margin-top: 3svh;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
}

.pop{
    transition: all 1.2s ease-out;
    user-select: none;

}
.invisible{
    opacity: 0;
    user-select: none;

}

.visible{
    opacity: 1;
    user-select: none;

}

.ilegaltext{
  text-align:center;
  position:relative;
  font-size:2.5em;
  transition: all 1.2s ease-out;
  user-select: none;

}
#text0,#text2{
color: #1c67b2;
text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.603);
user-select: none;

}
#text1,#text3{
color: #0a4971;
text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.603);
user-select: none;


}

#back{
  position:relative;
 padding-top:50%;
  text-align:center;
 font-size:1.5em;
  cursor:pointer;
}


@media only screen and (max-width: 600px) {
  #back{
    cursor:none;
    font-size:0.8em;
  }
  #text{
    font-size:2.25em;
  }

}

.text0{
    margin-top: 10svh;
}

#whatis{
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 4em;
    margin-bottom: 5svh;
    color: #134676;
}

.whatis:hover {
    animation-play-state: paused;
  
  }
  
  .whatis:hover {
    text-decoration: none;
    cursor:wait;
  }
  
  @keyframes text-shadow {
    0% {  
        transform: translateY(0);
  
    }
  
    20% {  
        transform: translateX(0.1em);
  
    }
  
    40% {  
        transform: translateX(-0.1em);
  
    }
    
   60% {
        transform: translateY(0em);
  
    }
  
    80% {  
        transform: translateY(0);
  
    }
  }