.frametest {
    position: absolute;
    display: block;
    border: 2px #0202022f;
    border-style: solid;
    padding-left: 373px;
    cursor: move;
    font-size: 0.5em;
    color: white    ;
    width: 873px;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    background-color: #2f2f2f;
    
    
}

.ApplicationDirectory {
    position: absolute;
    display: block;
    border-top: 2px #0202022f;
    border-left: 2px #0202022f;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-right: 2px #0202022f;
    border-bottom: 2px #0202022f;
    border-top: #2f2f2f;
    border-style: solid;
    cursor: move;
    font-size: 1em;
    color: white    ;
    width: 873px;
    max-width: 100%;
    display: flex;
    z-index: 99;
    align-items: flex-start;
    background-color: #2f2f2f;
    height: 3.8svh;    
}

.frametest2 {
    position: absolute;
    display: block;
    margin-top: 3.7svh;
    border: 2px #0000001e;
    border-style: solid;
    cursor: move;
    font-size: 1em;
    color: white    ;
    width: 873px;
    max-width: 100%;

    display: flex;
    align-items: flex-start;
    background-color: #333333df;
    height: 50svh;    
    backdrop-filter: blur(10px);

}

.frametest {
    border-radius: 20px;
}

.frametest2{
border-radius: 20px;
}

.filesystemtxt {
    font-size: 1em;
    text-align: left;

}
.filesystemtxt2 {
    font-size: 1.5em;
    text-align: left;
    font-weight: lighter;
    color: rgb(189, 184, 184);
    font-style: italic;

}
.sexy{
    color: white;
    font-weight: normal;
}
.frame-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.minimize-btn, .close-btn {
    background-color: #00000000;
    color: white;
    border-radius: 10px;
    padding: 0.1px 10px;
    margin-top: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}

.minimize-btn {
    padding-left: 350px;
}

.test{
    border: 2px ;
}

