.frametest {
    position: relative;
    display: block;
    border-top: 1px #02020200;
    border-left: 2px #0202022f;
    border-right: 2px #0202022f;
    border-bottom: 1px #02020200;
    border-style: solid;
    z-index: 99;
    padding-left: 373px;
    cursor: move;
    font-size: 0.5em;
    color: white    ;
    width: 873px;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    height: 37px;
    background-color: #2f2f2f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    
}

.frame{
    z-index: 9;
    position:sticky;
}


.frametest2{
border-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background-color: #333333d3;
    height: 50svh;    
}

.frametext2{
    color: white;
    margin-top: .3svh;
    font-weight: normal;
}
.frame-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.minimize-btn, .close-btn {
    background-color: #00000000;
    color: white;
    border-radius: 10px;
    padding: 0.1px 10px;
    margin-top: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}

.minimize-btn {
    padding-left: 350px;
}

.test{
    border: 2px ;
}

.ContextMenu{
    width: 15svh;
    position: absolute;
    background-color: rgb(252, 252, 252);
    z-index: 99;
    border: 2px #c5c5c56c;
    border-style: solid;
    border-radius: 10px;
    padding-bottom: 1svh;    
}