.handler{
    position: absolute;
    display: flex;
    height: 90svh;
    width: 30svw;
    right: 0;
    top: 3svh;
    flex-direction: column-reverse;
    
}


.notification{
    width: inherit;
    height:fit-content;
    background-color: #2f2f2f65;
    border-radius: 50px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    z-index: 2001;
    margin-bottom: 10px;
    color: aliceblue;
    user-select: none;
}

.image{
    margin-top: 10px;
    height: 2em;
}