.outer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.categories{
    overflow-y: scroll;
    height: 100%;
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.02em;
    height: 10vh;
    font-size: 1em;
    cursor: pointer;
    background-color: rgba(66, 66, 66, 0.525);
    transition: background-color 0.3s ease;
}
.category-head{
    padding-top: 0.5svh;
    padding-bottom: 0.5svh;

}
.category:hover {
    background-color: rgba(60, 60, 60, 0.972);
}

.category > * {
    display: inline-flex;
    align-items: center;
    margin-right: 0.5em;
}

.icon {
    margin-right: 2em;
    margin-left: 1em;
    height: 1.7em;
}

.end {
    margin-left: auto;
}

.background {
    background-color: rgba(60, 60, 60, 0.976);
}
.real{
    border-top-right-radius: 20px;
}
.messages{
    border-bottom-right-radius: 20px;
}

.background2{
    border-top-right-radius: 20px;

}

.bout{
        border-bottom-right-radius: 20px;
}