.outer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(66, 66, 66, 0);
    height: 100%;
    flex-direction: column;
}

.categories{
    overflow-y: scroll;
    height: 100%;
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5em;
    height: 4.5vh;
    font-size: 1.1em;
    cursor: pointer;
    background-color: rgb(66, 66, 66);
    transition: background-color 0.3s ease;
}
.category-head{
    padding-top: 0.85svh;
    background-color: rgb(54, 54, 54);
    padding-bottom: 0.85svh;


}
.category:hover {
    background-color: rgba(60, 60, 60, 0.972);
    border-radius: 5px;
}

.category > * {
    display: inline-flex;
    align-items: center;
    margin-right: 0.5em;
}

.icon {
    margin-right: 2em;
    margin-left: 1em;
    height: 1.7em;
}

.end {
    margin-left: auto;
    font-size: 2em;
}


.background {
    background-color: rgb(66, 66, 66);

}

.settings-page{
    height: 100%;
    width: 100%;
    text-align: center;
}