@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  

}
.name{
  color: white;
}
.navbar {
  background-color: #3333338b;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; /* Align items to the right */
  position: fixed;
  bottom: 0;
  height: 5svh;
  backdrop-filter: blur(10px);
  width: 100%;
 }

.navbar *{
  margin-left: 5px;
}

.navbar a {
  float:right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar img{
  width: 4.7svh;
  height: 4.7svh;
  margin-left: 2svh;
}

.time {
  flex-flow:  row wrap;
  justify-content: right;
  padding-right: 1svh;
  margin-left: 2svh;
}


.navbarmain {
    position: fixed;
    z-index: 99;
    width: 100%;
    
    background: #24252687;
}

.grid{
  background-size: 2.5rem 2.5rem;
}

.draggable {
  position: absolute;
  top: 0;
  left: 0;
}

.selected{
  background-color: #3333338b;
}

.draggable:hover{
  background-color: #3333338b;
}

.draggable .name{
  font-family: 'Ubuntu Mono';
  font-size: calc(1svh + 1svw);
  width: fit-content;
  block-size: fit-content;
  user-select: none;
}

.draggable .icon{
  display: inline-block;
  pointer-events: none;
  user-select: none;
  height: 5svh;
}
.homeimg {
  margin-right: auto; 
 }

.time{
color: white;
}

.draggable {
  margin-left: 1svh;
  margin-top: 1svh;
  margin-bottom: 1svh;
  margin-right: 1svh;
}

#background{
  
  background-size: cover;
}

.hakari {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
 }
 