@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
.name{
  color: white;
}
.navbar {
  background-color: #3333335b;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; /* Align items to the right */
  position: fixed;
  bottom: 0;
  z-index: 2000;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  width: 100%;
  height: 100%;
  height: 5.5svh;
 }

.navbar *{
  margin-left: 5px;
}

.navbar a {
  float:right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar img{
  width: 4.7svh;
  height: 4.7svh;
  margin-left: 2svh;
  cursor:pointer;
}

.time {
  flex-flow:  row wrap;
  justify-content: right;
  padding-right: 1svh;
  margin-left: 2svh;
  padding-top: 1svh;
  padding-bottom: 1svh;
  font-size: 0.9rem;
}


.navbarmain {
    position: fixed;
    z-index: 99;
    width: 100%;
    
    background: #24252687;
}

.grid{
  background-size: 2.5rem 2.5rem;
}

.draggable {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  margin-left: 1svh;
  margin-top: 1svh;
  margin-bottom: 1svh;
  margin-right: 1svh;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  padding-top: .5svh;
  padding-bottom: .5svh;
  padding-right: .5svh;
  padding-left: .5svh;
 }

 

.selected{
  background-color: #3333338b;
}

.draggable:hover{
  background-color: #33333387;
  border-radius: 6px;


}

.draggable .name{
  font-family: 'Ubuntu Mono';
  margin-top: 7px;
  font-size: calc(1.3svh + 0.3svw);
  width: fit-content;
  font-weight: 900;
  block-size: fit-content;
  user-select: none;
}

.draggable .icon{
  display: inline-block;
  pointer-events: none;
  user-select: none;
  height: 5.0svh;
  width: 5.0svh;
  margin-right: 1svw;
  margin-left: 1svw;

}
.homeimg {
  margin-right: auto; 
 }

.time{
color: white;
}


#background{
  
  background-size: cover;
}

.hakari {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  object-fit: cover;
 }
 

.menu{

  position:absolute;
  width: 25svw;
  z-index: 4;
  background-color: #3333338b;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-right: 2px #0202022f;
  border-top: 2px #0202022f;
  border-left: 2px #0202022f;
  border-bottom: 3px rgba(249, 249, 249, 0.496);
  border-style: outset;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  text-align: left;
  overflow-y:hidden;
}

.menutext {
  padding-left: 10px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  border-left: 2px rgba(255, 255, 255, 0);
  border-top: 2px rgba(255, 255, 255, 0);
  border-right: 2px rgba(255, 255, 255, 0);
  border-bottom: 2px rgba(249, 249, 249, 0.496);
  border-style: solid;
}

.show{
  bottom: 5.5svh;
}

.hide{
  bottom: -100vh;
}

.menubuttons{
}

.leave {
  float: right;
  margin-bottom: 1svh;
  z-index: 1;
  margin-right: 1.5svh;
  transition: transform 250ms;

}

.leave img {
  display: inline-block;
  pointer-events: none;
  user-select: none;
  height: 3svh;
  width: 3svh;
}

 .leave:hover + .hiddentxt {
  display: block;


}

.leave:hover{
  transform: translateY(-5px);
}



.exit {
  float: right;
  margin-bottom: 1svh;
  z-index: 1;
  margin-right: 1svh;
  transition: transform 250ms;

}

.exit img {
  display: inline-block;
  pointer-events: none;
  user-select: none;
  height: 3.2svh;
  width: 3.2svh;
}



.exit:hover + .hiddenclose {
  display: block;
  color: white;
  font-weight: 500;

}

.exit:hover{
  transform: translateY(-5px);
}

.line {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin-top: 2.5svh;
  transition: transform 0.5s ease-in-out;
}

.right {
  -webkit-transform: rotate(-45deg);
}


.folderappmenu {
  display: flex;
  align-items: center; 
  flex-direction: row; 
  margin-left: 1svh;
  cursor: pointer;


 }
 
 .folderappmenu img {
  position: relative;
  display: inline-block;
  user-select: none;
  z-index: 5;
  height: 4.2svh;
  width: 4.5svh;
  margin-right: 0.5svh;
 }
 
 .filestxt {
  position: absolute;
  color: white;
  margin-top: 2svh;
  margin-left: 9svh;

 }
 .appsmenu{
  display: flex;
  align-items: center;
 }
 
.appsmenu:hover{
  cursor: pointer;
}

.appsmenu:hover > .filestxt {
  font-weight: 500;
  text-decoration: underline;
}


.appsmenu:hover .line {
  transform: rotate(315deg);
  transition: transform 0.7s ease-in-out; /* Add transition for smooth rotation */
 }
 
.menubutton{

}